body {
    /* allows for edgeless elements and changes background to dark blue */
    height: 100%;
    margin: 0;
    background-image: url("blue_background.png");
    /**#F7B30B;*/
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/**Navigation bar*/

#nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000; /**Puts the nav bar on the top layer**/
    width: 100%;
    background-image: linear-gradient(to right, teal, turquoise);
}

#nav a {
    display: block;
    padding: 25px 20px 25px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
}

#contact{
    background-color: #ff5151b2;
    font-weight: bold;
    justify-self: end;
}

#nav a:hover {
    color: #FFB000;
    background-color: #686d81;
}

/**Marks the page the user is currently on.*/

#current, #current_teams {
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(119, 2, 119), rgb(170, 6, 170));
}


@media screen and (min-width: 1000px){
    #nav{
        flex-direction: row;
        position: fixed;
    }
    #nav a{
        font-size: .65em
    }
    #teams, #current_teams{
        margin-left: 10vh;
    }
}

@media only screen and (min-width: 1370px){
    #nav a{
        font-size: 1em;
    }
}

#content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(104, 195, 255, 0.466);
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5vh;
    max-height: 100%;
}

@media screen and (min-width: 1250px){
    #content{
        padding-top: 10vh;
    }
}

/**Color boxes for fav color page**/

#colors {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 50% 50%;
}

.blueBox {
    background-color: #00aeff;
}

.orangeBox{
    background-color: rgb(255, 166, 0);
}

/**White line seperating blurb and projects**/

hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: #002054;
    margin-top: 25px;
    margin-bottom: 35px;
    border: 0px;
}

/**Displays a large image on the left with title and description on the right.  Text is right aligned.*/

.leftDisplay{
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    margin-bottom: 50px;
}

/**Displays a large image on the right with title and description on the left.*/

.rightDisplay{
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-bottom: 50px;
}

/** Makes content into one column instead of two on mobile**/
@media screen and (max-width: 1000px){
    .leftDisplay {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .rightDisplay {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

/**Puts the three info types (title, subtitle, description) into a "paragraph"**/
.info {
    display: flex;
    flex-direction: column;
    /** Centers content for one column**/
    justify-content: center;
}

/** Sets up 2-column layout on Desktop.**/
@media screen and (min-width: 1000px){
    .info{
        justify-content: flex-start;
        width: 33%;
    }
}


h1 {
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    z-index: 1;
    color: white;
}

/** Title banners**/
.info h1:before, .info h2:before{
    content:"";
    background-image: linear-gradient(to right, teal, turquoise);
    position: absolute;
    height: 105%;
    z-index: -1;
}

.leftDisplay h1:before, .leftDisplay h2:before{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    width: 100%;
}
.rightDisplay h1:before, .rightDisplay h2:before{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 1000px){
    .rightDisplay h1:before, .rightDisplay h2:before{
        left:-170vw;
        width: 200vw;
    }
        
    .leftDisplay h1:before, .leftDisplay h2:before{
        /** left --> puts margin on left side of title**/
        left: -2vw;
        width: 36.1vw;
    }
}

h2 {
    font-family: 'Rubik', sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #002054;
    position: relative;
    z-index: 100;
}

p {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    grid-row: 3 / span 1;
    color: white;
}

p a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/** Sets up 2-column layout on Desktop**/
@media screen and (min-width: 1000px){
    .leftShowcase {
        margin-right: 50px;
        width: 66%;
    }

    .rightShowcase {
        margin-left: 50px;
        width: 66%;
    }
}

.thumbnail {
    align-self: flex-start;
    object-fit: contain;
}

/* Necessary wrapper for dynamic video sizing from: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php 
and https://benmarshall.me/resize-videos-proportionally-intrinsic-ratios/*/

.youtubeShowcase {
    position: relative;
    padding-bottom: 56.25%;
    /*maintains 16:9 ratio?*/
    height: 0;
}

.youtubeShowcase iframe {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-self: stretch;
}

.largeVimeoShowcase {
    position: relative;
    padding-bottom: 56.25%;
    /*maintains 16:9 ratio?*/
    height: 0;
}

.largeVimeoShowcase iframe {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    align-self: stretch;
}

.collageShowcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.calendar {
    background-color: #004ac04f;
}