body {
    /* allows for edgeless elements and changes background to dark blue */
    height: 100%;
    margin: 0;
    background-image: url("blue_background.png");
    /**#F7B30B;*/
    background-color: white; 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    padding-top: 50px;
    margin-bottom: 100px;
  }

header{
    width: 60%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    column-gap: 0;

}

#nametag{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 50% 50%;
    background-color: white;
    /* radius top-left top-right bottom-right bottom-left*/
    border-radius: 0 25px 25px 0;
    font-size: 20px;

    padding-bottom: 20px;
    padding-right: 0px;

    align-items: center;
    justify-items: end;
}

#nametag p{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

p a{
    text-decoration: none;
    color:white;
}

#hello{
    margin: 0;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: end;
    justify-self: end;
}

#name{
    font-size: 3em;
    color: #FFB000;
    font-weight: bold;

    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    justify-self: end;
    text-align: end;
}

#sub{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    align-self: start;
    text-align: end;
    font-size: 1em;
    font-style: italic;
}

header img{
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
    justify-self: center;
    align-self: center;
    height: 250px;
    width: 250px;
}

#year{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    justify-self: end;
    align-self: center;
}

#banners{
    display: flex;
    flex-direction: column;
    padding: 25px 0 25px 0;
}

#banners p{
    /* radius top-left top-right bottom-right bottom-left*/
    border-radius: 0 15px 15px 0;
    height: 25%;

    font-size: 25px;
    color: white;
    margin: 0;
    margin-top: 5px;
    padding: 0px;
    font-family: sans-serif;
    vertical-align: middle;

    padding: 10px;
}

#clickS{
    text-align: center;
    background-color: rgba(127, 200, 239, 0.6);
    padding: 15px 0 15px 0;
    font-family: sans-serif;
    color: #FFB000;
    font-size: 25px;
}

#skills{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    size: 50%;
    justify-content: center;
    flex-wrap: wrap;
}

/*img transition from https://stackoverflow.com/questions/22994810/how-do-i-desaturate-and-saturate-an-image-using-css*/
#skills img{
    padding: 10px;
    height: 200px;
    width: 200px;
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    cursor: pointer;
    transition: all 300ms ease;
}

#skills img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

